{% extends "layout.html" %}
{% block content %}
    {% for kurier in kuriers %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ kurier.id }}</a>
                <a class="mr-2" href="#">{{ kurier.nazwa }}</a>
                <button class="btn btn-danger right" onClick="usunKuriera({{ kurier.id }})">Usuń kuriera</button>
            </div>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
